<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks By Sprint</title>
</head>
<body>

<!-- The dnd-list directive allows to drop elements into it.
     The dropped data will be added to the referenced list probando github -->
<div class="page-header">
    <h1>Current Sprint <small>{{actualSprint}}</small></h1>
</div>

<div>

    Sprint: <select class="btn btn-primary dropdown-toggle" id="sprintSelect" ng-model="actualSprint" data-ng-init='getAllTaskLists()'>

        <option ng-repeat="sprint in sprints"  value="{{sprint}}">{{sprint}}</option>

    </select>

    <button type="button" id="addListButton" class="btn btn-success">Add List to this Sprint</button>
    <button type="button" id="addTaskButton" disabled="true" class="btn btn-success" ng-click="newTaskModal('Backlog',backLogIdCurrentSprint)">Add Task </button>

<div style="float: right">
    Order By:
    <select class="btn btn-primary dropdown-toggle" id="orderSelect" ng-model="actualOrder" data-ng-init='getAllTaskLists()'>

        <option value=" ">No Order</option>
        <option value="priority">Priority</option>
        <option value="creationDate">Creation Date</option>
    </select>
</div>

  <br>
    <br>
<div class="simpleDemo row">

    <div class="col-md-13">
        <div class="row">
            <div ng-repeat="(listName, list) in models.lists" class="col-md-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{listName}}</h3>
                    </div>
                    <div class="panel-body" ng-include="'views/simpleTaskList.html'"></div>
                </div>
            </div>
        </div>

        <div view-source="simple"></div>

    </div>

</div>

</div>
</body>
</html>
