<!-- The dnd-list directive allows to drop elements into it.
     The dropped data will be added to the referenced list -->
<ul dnd-list="list" style="max-height: 60vh" class="pre-scrollable" dnd-drop="moveTask(item,listName)">
    <!-- The dnd-draggable directive makes an element draggable and will
         transfer the object that was assigned to it. If an element was
         dragged away, you have to remove it from the original list
         yourself using the dnd-moved attribute -->
    <li ng-repeat="item in list"
        dnd-draggable="item"
        dnd-moved="list.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = item"
        ng-class="{'selected': models.selected === item}"
    >
        <span style="float:right; padding-left: 10px" class="glyphicon glyphicon-pencil" ng-click="editTask(item)"></span>
        <span style="float:right; padding-left: 5px" class="glyphicon glyphicon-trash" ng-click="deleteTask(item.taskId)"></span>
        <br>
        <span class="label label-info">Task Name: {{item.name}}</span>
        <br>
        <span class="label label-info">Creation Date: {{item.creationDate}}</span>
        <br>
        <span class="label label-info">Modification Date: {{item.modificactionDate}}</span>
        <br>
        <span class="label label-info">Priority: {{item.priority}}</span>
        <br>
        <span class="label label-info">Estimated Time: {{item.estimatedTime}}</span>

    </li>
</ul>